.container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    margin-bottom: 5rem;
    background-size: cover;
    background-position:center center;
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
    url(src/img/clima.webp);
    
}
.sunny{
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
    url(src/img/soleado.jpg);
}
.partlyCloudy{
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
     url(src/img/solYnubes.jpg);
}
.overcast{
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
     url(src/img/nublado.gif);
}
.rain{
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
     url(src/img/lluvia.gif);
}
.mistFog{
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
     url(src/img/niebla.webp);
}
.snow{
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
    url(src/img/nieve.gif);
}
.thunderstorm{
    background-image: linear-gradient(
    to right,
    rgb(0 0 0 / 0.3),
    rgb(0 0 0 / 0.5)),
    url(src/img/tormenta.gif);
}
.temperature{
    font-size: 2rem;
}
.location{
    margin-top: -.5rem;
    font-size: 1rem;
}
